body {
  margin: 0px;
  overflow: hidden;
}

.sphere {
  fill: #4242e4;
}

.county {
/*   fill: lightblue; */
  stroke: black;
  stroke-width: 0.1px;
}

.county:hover {
  fill: red;
}

.tick text {
  font-size: 1em;
  fill: black;
  font-family: sans-serif;
}

.tick circle {
  stroke: black;
  stroke-opacity: 0.5;
}

#title {
  font-size: 2.5em;
  text-shadow: .04em .05em .05em #EFECEA;
  font-family: ITC Franklin Gothic Std, Book Condensed with Demi Condensed;
}

#description {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  }

  #tooltip {
    background-color: steelblue;
    border-radius: 10%;
    padding: 10px;
    position: absolute;
    width: 130px;
    color: white;
    font-size: .9em;
  }
 