body {
  margin: 0px;
  overflow: hidden;
  display: grid;
  place-items: center;
  text-align: center;

}

form {
  font-family: sans-serif;
}

svg {
  font: 10px sans-serif;
}

#tooltip {
  background-color: steelblue;
  border-radius: 10%;
  padding: 10px;
  position: absolute;
  width: 130px;
  color: white;
  font-size: .9em;
}

#title {
  font-size: 2.5em;
  text-shadow: .04em .05em .05em #EFECEA;
  font-family: ITC Franklin Gothic Std, Book Condensed with Demi Condensed;
  text-align: center;
}

#description {
  font-family: ITC Franklin Gothic Std, Book Condensed with Demi Condensed;
  text-align: center;
}